DATABASE_URL="postgresql://postgres:CHANGE_ME@localhost:5432/tenryu?schema=meli_admin"
PUBLIC_APP_URL="http://localhost:3000"
INTEGRATIONS_SECRET="change-this-before-using-oauth"
MELI_CLIENT_ID=""
MELI_CLIENT_SECRET=""
MELI_REDIRECT_URI="http://localhost:3000/api/integrations/mercadolivre/callback"
MERCADOPAGO_CLIENT_ID=""
MERCADOPAGO_CLIENT_SECRET=""
MERCADOPAGO_REDIRECT_URI="http://localhost:3000/api/integrations/mercadopago/callback"
MERCADOPAGO_PUBLIC_KEY=""
MERCADOPAGO_ACCESS_TOKEN=""
